.logo {
  & > svg {
    height: 32px;
    width: 32px;
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
  .brand-title {
    line-height: 32px;
  }
}

.navbar {
  & > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
